@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-gray-900 to-charcoal-900;
}

:root {
  --charcoal-900: #1a202c;
  --burgundy-600: #742a2a;
  --yellow-600: #d69e2e; /* Muted gold */
}
